
## HTTP Server Config
PORT=3000
ALLOWED_ORIGINS=http://127.0.0.1:5500,http://localhost:5500

## JWT Config
JWT_SECRET=myJWTSecretBuhaha
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN_DAYS=7

## Discord Oauth2 Config
DISCORD_BOT_TOKEN=OTc2NDgxxxx
CLIENT_ID=976481969506517032
CLIENT_SECRET=YEzxxxxxxxx
BOT_INVITE_URL='https://discord.com/oauth2/authorize?client_id=CLIENT_ID&permissions=8&integration_type=0&scope=bot&guild_id=GUILD_ID'
REDIRECT_URI=http://localhost:2000/auth/discord/callback

## POSTGRES Config (pgsql vars)
PGHOST=localhost
PGPORT=8080
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=pass123

## Oauth2 URL
## https://discord.com/oauth2/authorize?client_id=976481969506517032&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A2000%2Fauth%2Fdiscord%2Fcallback&scope=guilds+identify+email